@import "../../node_modules/basscss/css/basscss-cp.min.css";
@import "../../node_modules/bulma/css/bulma.min.css";
html {
  background-color: lightgrey;
}
// body {
//   width: 70%;
//   height: 100%;
//   background-color: lightgray;
//   margin: auto;
//   -webkit-box-shadow: 2px 0px 40px -9px rgba(0, 0, 0, 0.75);
//   -moz-box-shadow: 2px 0px 40px -9px rgba(0, 0, 0, 0.75);
//   box-shadow: 2px 0px 40px -9px rgba(0, 0, 0, 0.75);
//   & > * {
//     text-align: center;
//   }

// black-outline {
//   outline: black solid 1px;
// }

